@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: #7FCDCD;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10%;
}

.header * {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.logo {
    cursor: pointer;
}

.logo:hover {
    color: #0069ed;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav li:hover {
    color: #0069ed;
    transition: all .3s ease;
}

.btn {
    padding: 1rem 2rem;
    background: #0069ed;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.btn:hover,
.logo:hover {
    scale: 1.2;
    transition: scale .3s ease;
}
