* {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

.nav {
    height: 5rem;
    background-color: rgb(82,89,59);
    display: flex;
    align-items: center;
}

.navbar > a,
.cart > a {
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
}
.navbar {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: 4rem;
}

.cart {
    margin-right: 4rem;
}


.main {
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
}

.main h1 {
    font-style: italic;
    letter-spacing: .3em;
    text-shadow: #FC0 1px 0 10px;
}

.main > h1:hover {
    transition: scale 1s ease-in-out;
    scale: 1.1;
}

p {
    font-size: 2rem;
}

.line-height {
    line-height: 1.5;
}